.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

.edit-profile__title {
  margin: 0 0 122px 0;
  padding: 74px 0 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.edit-profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 410px;
}

.edit-profile__field {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 3px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  background-color: transparent;
  color: #000;
}

.edit-profile__line {
  width: 100%;
  border-bottom: 1px solid #424242;
  padding-top: 2px;
  margin-bottom: 17px;
}

.edit-profile__input {
  margin: 0;
  padding: 0;
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  background-color: transparent;
  border: none;
  outline: none;
  text-overflow: ellipsis;
  color: #000;
}

.edit-profile__input::placeholder {
  color: #8b8b8b;
}

.edit-profile__input:focus {
  background-color: #fff;
}

.edit-profile__input_type_error {
  color: #ee3465;
}

.edit-profile__edit-button {
  margin: 207px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.edit-profile__edit-button:hover {
  opacity: 0.7;
}

.edit-profile__edit-button:disabled {
  color: #8b8b8b;
  cursor: default;
  opacity: 0.7;
}

.edit-profile__back {
  margin: 16px 0 70px 0;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  border: none;
  background-color: transparent;
}

.edit-profile__back:hover {
  opacity: 0.7;
}

.edit-profile-form__input-error {
  grid-column: 1/3;
  margin: 0;
  padding: 0;
  min-height: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  background-color: transparent;
  color: #ee3465;
}

@media screen and (max-width: 865px) {
  .edit-profile__title {
    margin-bottom: 97px;
    padding-top: 236px;
  }

  .edit-profile__line {
    margin-bottom: 18px;
  }

  .edit-profile__edit-button {
    margin-top: 195px;
  }

  .edit-profile__back {
    margin-bottom: 269px;
  }
}

@media screen and (max-width: 450px) {
  .edit-profile__title {
    margin-bottom: 80px;
    padding-top: 70px;
  }

  .edit-profile__edit-button {
    margin-top: 365px;
    font-size: 12px;
    line-height: 15px;
  }

  .edit-profile__back {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 15px;
  }
}
