.header {
    margin: 0;
    min-height: 56px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #F3C1F8;
    padding: 18px 70px;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__data {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style:none;
}


.header__register {
    display: block;
    color: black;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    margin: 0 30px 0 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #F3C1F8;
}

.header__in {
    display: block;
    background-color: black;
    margin: 0;
    text-decoration: none;
    border: none;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 8px 20px;
    border-radius: 3px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

    .header {
        padding-right: 30px;
        padding-left: 30px;
    }

    .header__in {
        font-size: 12px;
        line-height: 16px;
    }

    .header__register {
        font-size: 12px;
        line-height: 16px;
        margin-right: 30px;

    }
}

@media screen and (max-width: 767px) {

    .header {
        padding-right: 14px;
        padding-left: 14px;
    }

    .header__in {
        font-size: 10px;
        line-height: 16px;
        padding: 5px 12px;
    }

    .header__register {
        font-size: 10px;
        line-height: 16px;
        margin-right: 14px;

    }
}